* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-family: Lato, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

h1 span{
	display: inline-block;
}

h2{
	font-size: 20px;
}

p {
	line-height: 22px
}

ol {
	padding-left: 20px;
	padding-bottom: 25px;
}

.header {
	background-color: #db4938;
	color: #fff;
}

img.logo{
	width: 145px;
	height: 57px;
	display: block;
}
input[type=text] {
	width: auto;
	min-width: 300px;
	padding: 12px;
	margin: 5px 50px 22px 0;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
}

input[type=text]:focus {
	outline: 0;
}

input[type=checkbox],
input[type=radio] {
	height: 18px;
	width: 18px;
}

button {
	border: 2px solid #000;
	background-color: #fff;
	padding: 14px 28px;
	font-size: 24px;
	cursor: pointer;
	border-color: #2196f3;
	color: #1e90ff;
	margin: 25px auto;
    display: block;
}

button:hover {
	background: #2196f3;
	color: #fff;
}

.maincontainer {
	position: relative;
	width: 60%;
	margin: 0 auto;
}

.container {
	padding: 30px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

form{
	font-size: 18px;
}

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.form-inline label {
	margin: 5px 10px 15px 0
}

.form-inline button {
	padding: 10px 20px;
	background-color: #1e90ff;
	border: 1px solid #ddd;
	color: #fff;
}

.form-inline button:hover {
	background-color: #4169e1
}

.row {
	width: 100%;
	margin: 15px 0;
	padding: 0;
}

.col-75 {
	width: 55%;
	float: left;
}

.col-25 {
	width: 45%;
	float: left;
	text-align: right;
}

.col-25 label {
	margin: 0 7px;
	vertical-align: middle;
}

::placeholder {
	color: #db4938;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #db4938;
}

::-ms-input-placeholder {
	color: #db4938;
}

.hidden {
  display: none !important;
}

/*#installContainer {
  position: fixed;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: rgba(0,0,0,.5);
  margin: 0 25%;
}

#installContainer button {
  border: 0;
  color: #000;
}*/
.overlay {	  
  background: #f5f5f5;
  border: 1px #ccc solid;  
  position: fixed; 
  height: auto;  
  
}
.bottomPopup.overlay:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #f5f5f5 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -20px;
    left: 45%;
}

.bottomPopup.overlay:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 21px 21px 0;
    border-color: #ccc transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -22px;
    left: 45%;
}
.topPopup.overlay:after{
	content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px;
    border-color: #f5f5f5 transparent;
    display: block;
    width: 0;
    z-index: 1;
	top: -19px;
    left: 60%;
}
.topPopup.overlay:before{
	content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 21px 21px;
    border-color: #ccc transparent;
    display: block;
    width: 0;
    z-index: 0;
	top: -21px;
    left: 60%;
}

.topPopup{
	left: 50%;
	top: 40px;
	width: 35%;
}
.bottomPopup{
	left: 5%;
	bottom: 40px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
#butInstall{
font-size: inherit;
text-align: center;
}

#butInstall img{
	padding: 0 5px;
}
	
.popup .close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media (max-width:1366px) {
	.maincontainer {
		width: 85%;
	}
}

@media (max-width:1024px) {
	.maincontainer {
		width: 75%;
	}
	.container {
		padding: 32px;
	}
	.form-inline {
		flex-direction: column;
		align-items: stretch;
	}
}

@media (max-width:800px) {
	.maincontainer {
		width: 100%;
	}
	.container {
		padding: 16px;
	}
	img.logo{
		margin: 0 auto;
	}
	.form-inline input {
		margin: 10px 0;
	}
	.form-inline {
		flex-direction: column;
		align-items: stretch;
	}
	input[type=text] {
		min-width: 250px;
		margin: 5px 0 22px 0;
	}
	.overlay {	
	  width: 40%; 
	}	
	.popup .close {
		top: 5px;
		right: 10px;
	}	
}
@media (max-width:460px) {
	form {
		font-size: 14px;
	}
	.col-25 {
		width: 48%;
	}
	.col-75{
		width: 52%;
	}
	input[type=checkbox], input[type=radio] {
		height: 16px;
		width: 16px;
	}
	.overlay {	
	  width: 89.9%;	  
	}
}

